 /* Options */
:root{
    --black:#1b1e23;
    --size:350px;
    --white: #f4eed7;
    --feature : #4b9aaa;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width:100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 640px) {
    body {
      width:55vh;
    }
  }
.clock{
    border: 5px solid black;
    height: var(--size);
    width: var(--size);
    border-radius: calc(var(--size)/2);
    display: flex;
    justify-content: center;
    position:relative;
    
}
.hour1{
    position:absolute;
    transform: rotate(30deg);

}

.hour2{
    position: absolute;
    transform: rotate(60deg);
}
.hour3{
    position: absolute;
    transform: rotate(90deg);
}
.hour4{
    position: absolute;
    transform: rotate(120deg);
}
.hour5{
    position: absolute;
    transform: rotate(150deg);
}
.hour6{
    position: absolute;
    transform: rotate(180deg);
}
.hour7{
    position: absolute;
    transform: rotate(210deg);
    
}


.hour8{
    position: absolute;
    transform: rotate(240deg);
}
.hour9{
    position: absolute;
    transform: rotate(270deg);
}
.hour10{
    position: absolute;
    transform: rotate(300deg);
}
.hour11{
    position: absolute;
    transform: rotate(330deg);
}
.hour12{
    position: absolute;
    transform: rotate(360deg);
}
.hours{
    position: absolute;  
    width: 100%;  
    height: 100%;  
    text-align: center;
    color: red;
}
.hour-hand{
    position: absolute;
    height: calc(var(--size)/3 - 5px);
    border:2px solid var(--white);
    transform: translate(-50%,-50%);
    left:50%;
    bottom:50%;
    transform-origin: 50% 100%;
    
}
.minute-hand{
    position: absolute;
    height: calc(var(--size)/2.5 - 5px);
    border:2px solid rgb(238, 118, 238);
    transform: translate(-50%);
    left:50%;
    bottom:50%;
    transform-origin: 50% 100%;
}
.second-hand{
    position: absolute;
    height: calc(var(--size)/2.1 - 5px);
    border:2px solid rgb(0, 0, 0) ;
    transform: translate(-50%);
    left:50%;
    bottom:50%;
    transform-origin: 50% 100%;
}
.current-day{
    position:absolute;
    top:22%;
    color: var(--white);
    font-size: 10%;
}

.current-hour{
    transition: translate();
    position: absolute;
    bottom: 22%;
    color: var(--white);
    transform: translate(-120%);
}
.current-minutes{ 
    bottom: 22%;
    position: absolute;
    color: var(--white);  
    /* transform: translate(110%); */
}
.current-seconds{
    bottom: 22%;
    position: absolute;
    color: var(--white);  
    transform: translate(170%);
}

.buttons{
    transform: translate(3%);
    margin-top: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.setAlarm{
    color: var(--white);
    background-color: rgb(0, 0, 0);
    padding: 15px 25px 15px 25px;
    border: none;
}
.setCountdown{
    color: var(--white);
    background-color: rgb(0, 0, 0);
    padding: 15px 25px 15px 25px;
    border: none;
}
.setAlarmTime{
    display:none;
    border: 2px solid #f1f1f1;
    border-radius: 10%;
    padding:5% 8%;
    margin:20px 0px;
    background-color: var(--black);
    position: fixed;
    top: 25%;
    right: 20%;
    box-shadow: 0 4px 8px 0 rgba(187, 133, 133, 0.2), 0 6px 20px 0 rgba(161, 108, 108, 0.19);

}
.setTime{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.heading{
    color: var(--white);
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.heading h1{
    padding:20px;
}
.done{
    position:relative;
    color: red;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10% 0px 0 0;
    left: 40%;
}

.Hours{
    font-size: x-large;
}
.Seconds{
    font-size: x-large;
}
.Minutes{
    font-size: x-large;
}
.flipnumber{
    transform: rotate(260deg);
}
.flipnumber5{
    transform: rotate(220deg);
}
.flipnumber6{
    transform: rotate(180deg);
}
.flipnumber7{
    transform: rotate(160deg);
}
.flipnumber8{
    transform: rotate(120deg);
}
.count-down{
    color: var(--white);
    margin-top: 10%;
    margin-left: 10%;
}
